<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DFW-meilibiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,300},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>DFW-zhimingdu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,422},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>DT-Buffbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{198,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,223}}</string>
                <key>sourceSize</key>
                <string>{202,227}</string>
            </dict>
            <key>DT-gujiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,374},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>DT-jbjiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,422},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>DT-jyjiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,333},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>SCsbjyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{174,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{174,32}}</string>
                <key>sourceSize</key>
                <string>{178,32}</string>
            </dict>
            <key>SCyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,472},{68,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>SCzk.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,469},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{78,32}</string>
            </dict>
            <key>TX.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,353},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>WJ-DT-fenxianganni.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,422},{51,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{51,68}}</string>
                <key>sourceSize</key>
                <string>{57,74}</string>
            </dict>
            <key>WJ-DT-haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,465},{102,43}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{102,43}}</string>
                <key>sourceSize</key>
                <string>{118,51}</string>
            </dict>
            <key>WJ-DT-youxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,434},{102,36}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{102,36}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>XDT-duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,380},{101,40}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{101,40}}</string>
                <key>sourceSize</key>
                <string>{111,52}</string>
            </dict>
            <key>XDT-fankui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,321},{51,68}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,68}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>XDT-gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,441},{110,56}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{110,56}}</string>
                <key>sourceSize</key>
                <string>{122,64}</string>
            </dict>
            <key>XDT-haoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,237},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>XDT-huodong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,220},{111,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{111,54}}</string>
                <key>sourceSize</key>
                <string>{117,66}</string>
            </dict>
            <key>XDT-kanzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,248},{169,167}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{169,167}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>XDT-luntan.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,453},{52,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{52,70}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>XDT-mianfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,237},{102,47}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{102,47}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>XDT-paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,237},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>XDT-qianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,421},{45,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,44}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>XDT-renwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,400},{104,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{104,50}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>XDT-shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,171},{127,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{127,64}}</string>
                <key>sourceSize</key>
                <string>{133,72}</string>
            </dict>
            <key>XDT-shangdaohang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1139,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1139,107}}</string>
                <key>sourceSize</key>
                <string>{1139,111}</string>
            </dict>
            <key>XDT-shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,350},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>XDT-shuzidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,171},{207,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{207,47}}</string>
                <key>sourceSize</key>
                <string>{243,49}</string>
            </dict>
            <key>XDT-tuiguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,300},{112,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{112,48}}</string>
                <key>sourceSize</key>
                <string>{120,52}</string>
            </dict>
            <key>XDT-xdhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{1139,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1139,92}}</string>
                <key>sourceSize</key>
                <string>{1139,98}</string>
            </dict>
            <key>XDT-youx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,350},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>XDT-zuanshijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,465},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{44,43}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>dating_denglong.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,417},{86,161}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{86,161}}</string>
                <key>sourceSize</key>
                <string>{96,169}</string>
            </dict>
            <key>dating_ganzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{219,474}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{219,474}}</string>
                <key>sourceSize</key>
                <string>{227,476}</string>
            </dict>
            <key>dating_gengduo.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,248},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dating_jb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,341},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>dating_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,248},{203,203}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{203,203}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>dating_majiang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,205},{135,139}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{135,139}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
            <key>dating_sc01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,202},{125,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,62}}</string>
                <key>sourceSize</key>
                <string>{125,62}</string>
            </dict>
            <key>dating_sc02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,464},{68,44}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,44}}</string>
                <key>sourceSize</key>
                <string>{72,46}</string>
            </dict>
            <key>dating_shirenfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,2},{166,167}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,167}}</string>
                <key>sourceSize</key>
                <string>{172,169}</string>
            </dict>
            <key>dating_shirenfang_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,220},{156,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,78}}</string>
                <key>sourceSize</key>
                <string>{158,78}</string>
            </dict>
            <key>dating_tshd2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,469},{37,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,107}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>dating_tshd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,469},{35,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,109}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>dating_tshd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,453},{37,105}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{37,105}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>dating_tshd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,472},{35,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{35,103}}</string>
                <key>sourceSize</key>
                <string>{37,111}</string>
            </dict>
            <key>dating_tx01.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,400},{85,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,108}}</string>
                <key>sourceSize</key>
                <string>{85,108}</string>
            </dict>
            <key>dating_zhajinniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{169,167}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{169,167}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>guang_majiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,202},{149,150}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{155,154}</string>
            </dict>
            <key>guang_shirenfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,353},{109,116}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{109,116}}</string>
                <key>sourceSize</key>
                <string>{137,136}</string>
            </dict>
            <key>hall_ggd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{1004,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1004,41}}</string>
                <key>sourceSize</key>
                <string>{1004,41}</string>
            </dict>
            <key>tanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,346},{121,93}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{121,93}}</string>
                <key>sourceSize</key>
                <string>{219,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HallLayer.png</string>
            <key>size</key>
            <string>{1709,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ffe642001eec9420fb25fc3d987a1d$</string>
            <key>textureFileName</key>
            <string>HallLayer.png</string>
        </dict>
    </dict>
</plist>
