<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WJ-MJ-BT-wenzhoumajiangshiliuzhangsiren.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{647,86}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{647,86}}</string>
                <key>sourceSize</key>
                <string>{663,122}</string>
            </dict>
            <key>WJ-MJ-DT-xuanzefangjianshisanzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{394,86}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{394,86}}</string>
                <key>sourceSize</key>
                <string>{410,122}</string>
            </dict>
            <key>WJ-SRF-lianzhuangbeishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,604},{159,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-SRF-shiliuzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,503},{128,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{128,40}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-shiliuzhangwxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,373},{128,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{128,40}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-shisanzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,644},{128,40}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{128,40}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-shisanzhangwxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,935},{128,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{128,40}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-zuigaolianzhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,564},{161,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-WZMJ-DT-erren.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,108},{104,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,35}</string>
            </dict>
            <key>WJ-WZMJ-DT-shiliuzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,149},{145,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{145,73}}</string>
                <key>sourceSize</key>
                <string>{153,81}</string>
            </dict>
            <key>WJ-WZMJ-DT-shisanzhanglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{145,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{145,73}}</string>
                <key>sourceSize</key>
                <string>{153,81}</string>
            </dict>
            <key>WJ-WZMJ-DT-shisanzhanglv.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,644},{145,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{145,73}}</string>
                <key>sourceSize</key>
                <string>{153,81}</string>
            </dict>
            <key>WJ-WZMJ-DT-siren.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{104,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,33}}</string>
                <key>sourceSize</key>
                <string>{104,35}</string>
            </dict>
            <key>WJ-WZMJ-DT-wenhzoumajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,791},{136,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{136,142}}</string>
                <key>sourceSize</key>
                <string>{146,150}</string>
            </dict>
            <key>WJ-WZMJ-DT-wenhzoumajianghuangsebj.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,398},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>WJ-WZMJ-DT-wenhzoumajianglansebj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{165,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,164}}</string>
                <key>sourceSize</key>
                <string>{165,164}</string>
            </dict>
            <key>WJ-WZMJ-DT-wenhzoumajianglvsebj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{162,164}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{162,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>wj_wzmj_shf.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,296},{75,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{75,78}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>wj_wzmj_title_ling.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,214},{36,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{36,102}}</string>
                <key>sourceSize</key>
                <string>{38,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wzmj_dating_ui.png</string>
            <key>size</key>
            <string>{306,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec1c4fff8d38c25287f79c05e689f071$</string>
            <key>textureFileName</key>
            <string>wzmj_dating_ui.png</string>
        </dict>
    </dict>
</plist>
