<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_ guanyuwomen.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,77},{122,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{122,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>guanyuwm_button01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{242,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{242,73}}</string>
                <key>sourceSize</key>
                <string>{242,75}</string>
            </dict>
            <key>guanyuwm_button02.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{180,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{180,51}}</string>
                <key>sourceSize</key>
                <string>{242,75}</string>
            </dict>
            <key>guanyuwm_button04.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,55},{180,45}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{180,45}}</string>
                <key>sourceSize</key>
                <string>{242,75}</string>
            </dict>
            <key>guanyuwm_button06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,79}}</string>
                <key>sourceSize</key>
                <string>{474,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyuwomen.png</string>
            <key>size</key>
            <string>{904,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7af06c9d0ded96bb63205df2aa63f6c7$</string>
            <key>textureFileName</key>
            <string>guanyuwomen.png</string>
        </dict>
    </dict>
</plist>
