<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SCbban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCbbanl.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,528},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCdja.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCdjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCgza.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCgzl.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,372},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCjbl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCthan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCthanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCxinnianremai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{112,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,35}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>SCzsa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCzsaa.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,160},{154,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCzsal.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>SCzsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>XDT-nanjue.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,316},{65,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,54}}</string>
                <key>sourceSize</key>
                <string>{69,58}</string>
            </dict>
            <key>shop-ZhiFuBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,652},{36,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_shop_btn.png</string>
            <key>size</key>
            <string>{225,689}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37f01fa4fe525b175e25d534463538b8$</string>
            <key>textureFileName</key>
            <string>game_shop_btn.png</string>
        </dict>
    </dict>
</plist>
