<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DSbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1072},{98,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,42}}</string>
                <key>sourceSize</key>
                <string>{102,48}</string>
            </dict>
            <key>SCJth.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,635},{75,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,73}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>SCbbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,846},{263,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{263,186}}</string>
                <key>sourceSize</key>
                <string>{263,192}</string>
            </dict>
            <key>SCdjdjk.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,376},{412,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,162}}</string>
                <key>sourceSize</key>
                <string>{412,162}</string>
            </dict>
            <key>SCgzdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{842,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{842,92}}</string>
                <key>sourceSize</key>
                <string>{844,96}</string>
            </dict>
            <key>SCjbabj.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>SCrmk.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1027},{190,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{190,43}}</string>
                <key>sourceSize</key>
                <string>{192,45}</string>
            </dict>
            <key>SCthbigbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{372,235}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{372,235}}</string>
                <key>sourceSize</key>
                <string>{382,245}</string>
            </dict>
            <key>SCthxbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,790},{178,235}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,235}}</string>
                <key>sourceSize</key>
                <string>{180,237}</string>
            </dict>
            <key>Shop-360.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,245},{113,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{113,38}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>Shop-ZhiFuBaoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,376},{257,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,93}}</string>
                <key>sourceSize</key>
                <string>{257,93}</string>
            </dict>
            <key>XDT-shuzidikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{241,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{241,47}}</string>
                <key>sourceSize</key>
                <string>{243,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_shop_bg.png</string>
            <key>size</key>
            <string>{1024,1140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09d539acaa705a0ff52d5c778421b3be$</string>
            <key>textureFileName</key>
            <string>game_shop_bg.png</string>
        </dict>
    </dict>
</plist>
