<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Shop-ZhiFuBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>Shop-weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
            <key>Shop_AppStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,40}}</string>
                <key>sourceSize</key>
                <string>{115,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_store_select.png</string>
            <key>size</key>
            <string>{119,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:111aeb95921b054f2ef4c95c3acd2a2b$</string>
            <key>textureFileName</key>
            <string>game_store_select.png</string>
        </dict>
    </dict>
</plist>
