<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DHZX-biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{339,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{339,67}}</string>
                <key>sourceSize</key>
                <string>{339,71}</string>
            </dict>
            <key>DHZX-dhuank.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{183,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,242}}</string>
                <key>sourceSize</key>
                <string>{183,242}</string>
            </dict>
            <key>DHZX-duihuanann.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,145},{145,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,60}}</string>
                <key>sourceSize</key>
                <string>{145,60}</string>
            </dict>
            <key>DHZX-lt500M.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,150},{102,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,75}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>DT-duihuan-jilu.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,187},{128,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{128,35}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>huafeiquan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{146,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,90}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>huafeiquan_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,49}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{488,49}}</string>
                <key>sourceSize</key>
                <string>{562,49}</string>
            </dict>
            <key>huafeiquan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{148,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,92}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>huafeiquan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{148,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,92}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>huafeiquan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,53},{146,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,90}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>huafeiquan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,96},{146,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,90}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>huafeiquan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,122},{146,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{146,90}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ExchangeLayer.png</string>
            <key>size</key>
            <string>{988,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d474cd0997d157fb122d5a0a3945e52$</string>
            <key>textureFileName</key>
            <string>ExchangeLayer.png</string>
        </dict>
    </dict>
</plist>
