<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hall_Task_lihe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>Hall_Task_lihe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{60,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>Hall_Task_lihe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>Hall_Task_lihe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>Hall_Task_lihe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{65,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,57}}</string>
                <key>sourceSize</key>
                <string>{65,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_every_box.png</string>
            <key>size</key>
            <string>{324,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:709bd090dee1d04d4e79c0ea2a8a62dd$</string>
            <key>textureFileName</key>
            <string>task_every_box.png</string>
        </dict>
    </dict>
</plist>
