<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RWgh_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{105,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,42}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>RWsfrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{104,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{104,28}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>RWtsrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,28}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>Task_Have_Give.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,79}}</string>
                <key>sourceSize</key>
                <string>{137,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_public.png</string>
            <key>size</key>
            <string>{127,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bc2762d0ae2f905cbdafe22c6773f1c$</string>
            <key>textureFileName</key>
            <string>task_public.png</string>
        </dict>
    </dict>
</plist>
