<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hall_Task_GeDuanXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{242,2}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{242,2}}</string>
                <key>sourceSize</key>
                <string>{262,4}</string>
            </dict>
            <key>MRRWgenghuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,378},{103,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>MRRWgenghuan150.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,382},{103,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>MRRWgenghuan200.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,273},{103,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>sourceSize</key>
                <string>{105,42}</string>
            </dict>
            <key>RWdadbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{861,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{861,285}}</string>
                <key>sourceSize</key>
                <string>{865,289}</string>
            </dict>
            <key>RWdjrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,273},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{106,28}}</string>
                <key>sourceSize</key>
                <string>{110,34}</string>
            </dict>
            <key>RWjddk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{872,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{872,49}}</string>
                <key>sourceSize</key>
                <string>{872,49}</string>
            </dict>
            <key>RWjdttc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{860,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{860,36}}</string>
                <key>sourceSize</key>
                <string>{864,36}</string>
            </dict>
            <key>RWkbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,2},{237,269}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{237,269}}</string>
                <key>sourceSize</key>
                <string>{243,273}</string>
            </dict>
            <key>RWxjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,381},{88,83}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{88,83}}</string>
                <key>sourceSize</key>
                <string>{90,87}</string>
            </dict>
            <key>RWxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,273},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,24}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>RWxyiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,378},{89,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{89,34}}</string>
                <key>sourceSize</key>
                <string>{93,36}</string>
            </dict>
            <key>TaskAndWatch_Give1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,444},{60,56}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>TaskAndWatch_Give2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,382},{60,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{62,66}</string>
            </dict>
            <key>award_preview_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,378},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,378},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{108,108}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{108,108}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>guang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,273},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task_every_day.png</string>
            <key>size</key>
            <string>{1104,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11e7568518dbd8423ff1d52fd2effaf1$</string>
            <key>textureFileName</key>
            <string>task_every_day.png</string>
        </dict>
    </dict>
</plist>
