<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DFW-meilibiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,860},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>SRFYX-fangka2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{144,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,43},{144,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>SRFYX-fangka4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,920},{132,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{132,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>SRFYX-fangka8.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{132,86}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,46},{132,86}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>XDT-jiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{170,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,46},{170,90}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>XDT-jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,812},{49,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,46}}</string>
                <key>sourceSize</key>
                <string>{49,46}</string>
            </dict>
            <key>XDT-tishidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,253},{23,23}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,23}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>XDT-wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,975},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,33}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>XDT-zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,774},{53,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,36}}</string>
                <key>sourceSize</key>
                <string>{53,36}</string>
            </dict>
            <key>XDTyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,938},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,34}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>XQRRW-huafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,136},{148,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,92}}</string>
                <key>sourceSize</key>
                <string>{148,92}</string>
            </dict>
            <key>dj_aqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,680},{140,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{140,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_fl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{152,154}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{152,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,776},{142,128}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,38},{142,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,426},{130,122}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,26},{130,122}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,680},{136,128}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{136,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jyk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{150,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jyk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,430},{150,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jyk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{150,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jz01.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,810},{134,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{134,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,550},{134,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{134,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jz03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{144,146}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{144,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jz04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,536},{142,148}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{142,148}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_jz05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,94},{122,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{122,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_tyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,324},{150,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{150,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_yk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{152,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_zk.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,218},{152,104}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{152,104}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_zs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{134,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{134,94}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_zs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,286},{126,138}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{126,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dj_zs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{176,154}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>zhuanShiWan.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,218},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,32}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_public_item.png</string>
            <key>size</key>
            <string>{440,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38657f5c6f34f0ba9fa5a7220d078c18$</string>
            <key>textureFileName</key>
            <string>game_public_item.png</string>
        </dict>
    </dict>
</plist>
