<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DFW-meilijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,507},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>Guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,637},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>button01_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{146,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,66}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>button01_already_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{104,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{104,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{86,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{86,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_dakai.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,119},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,507},{86,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{86,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_kefuzhongxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{124,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{124,35}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,41},{90,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{90,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_luntan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{86,33}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{86,33}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_lyilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,468},{106,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_qianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,275},{86,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{86,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,622},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_suanle.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,80},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button01_zengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{90,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{90,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{144,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{144,64}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>button_carenwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{106,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{82,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,351},{114,37}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{114,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_gengxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,197},{86,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{86,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_kaiqilunpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,314},{118,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{118,35}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_kuaisutisheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{116,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{116,35}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_lingjiuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{110,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{110,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,158},{86,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{86,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,390},{26,29}}</string>
                <key>offset</key>
                <string>{-42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{26,29}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_qiuanwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{146,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>button_quduihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,429},{106,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_queding.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,583},{84,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{84,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_queren.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,546},{86,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{86,35}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_quwanshan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{106,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_shiyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,661},{80,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_xuanyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>button_xuanyao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,552},{83,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,69}}</string>
                <key>sourceSize</key>
                <string>{83,69}</string>
            </dict>
            <key>button_xuanyao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{67,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{67,67}}</string>
                <key>sourceSize</key>
                <string>{83,69}</string>
            </dict>
            <key>button_yiyongyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,236},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
            <key>button_zhidaole.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,390},{106,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{106,37}}</string>
                <key>sourceSize</key>
                <string>{154,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_public_btn.png</string>
            <key>size</key>
            <string>{250,737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bf57e3409e1e0f088dbadcb19c377af$</string>
            <key>textureFileName</key>
            <string>game_public_btn.png</string>
        </dict>
    </dict>
</plist>
