<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DT-gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,391},{788,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{788,299}}</string>
                <key>sourceSize</key>
                <string>{792,303}</string>
            </dict>
            <key>Hall_Task_GeDuanXian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{242,2}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{242,2}}</string>
                <key>sourceSize</key>
                <string>{262,4}</string>
            </dict>
            <key>SCgzbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,581},{87,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>SCgzbk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,793},{75,73}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{75,73}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>XTG-beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{968,387}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{968,387}}</string>
                <key>sourceSize</key>
                <string>{970,391}</string>
            </dict>
            <key>award_preview_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1059},{56,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1006,577}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1006,577}}</string>
                <key>sourceSize</key>
                <string>{1006,579}</string>
            </dict>
            <key>bg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{830,476}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{830,476}}</string>
                <key>sourceSize</key>
                <string>{830,478}</string>
            </dict>
            <key>bg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,692},{652,375}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{652,375}}</string>
                <key>sourceSize</key>
                <string>{652,377}</string>
            </dict>
            <key>button_xuanyao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,692},{276,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,99}}</string>
                <key>sourceSize</key>
                <string>{276,99}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,793},{187,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{187,180}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>rw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1059},{474,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,77}}</string>
                <key>sourceSize</key>
                <string>{474,77}</string>
            </dict>
            <key>rw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1059},{240,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{240,73}}</string>
                <key>sourceSize</key>
                <string>{240,77}</string>
            </dict>
            <key>sc_bb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,391},{257,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{257,167}}</string>
                <key>sourceSize</key>
                <string>{257,171}</string>
            </dict>
            <key>sc_bb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,975},{163,153}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{163,153}}</string>
                <key>sourceSize</key>
                <string>{163,171}</string>
            </dict>
            <key>sc_bb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,793},{187,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{187,180}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_public_bg.png</string>
            <key>size</key>
            <string>{1980,1154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73488b4c1f716d230a1b9250ee578cca$</string>
            <key>textureFileName</key>
            <string>game_public_bg.png</string>
        </dict>
    </dict>
</plist>
