<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WJ-SRF-baidawxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1041},{86,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{86,36}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-baidaxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,326},{86,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{86,36}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-canyuduixiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,336},{159,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-SRF-chuangjianfangjianbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1124,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1124,652}}</string>
                <key>sourceSize</key>
                <string>{1124,652}</string>
            </dict>
            <key>WJ-SRF-geduan.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{820,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{820,4}}</string>
                <key>sourceSize</key>
                <string>{820,4}</string>
            </dict>
            <key>WJ-SRF-jiesuanfangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,582},{159,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-SRF-jinfangxianzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,421},{159,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{159,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-SRF-kanpaiqiangzhuanwxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,182},{152,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-qinghunpengwxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,935},{128,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-qinghunpengxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,651},{128,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{128,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-renmanjikai.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,584},{161,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-SRF-shanghaiqiaomawxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,92},{88,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{88,36}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-shanghaiqiaomaxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{88,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{88,36}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-taitoumajiangwxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,781},{152,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,40}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-taitoumajiangxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,497},{152,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,40}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-weixuanzhongan.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{214,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,79}}</string>
                <key>sourceSize</key>
                <string>{214,79}</string>
            </dict>
            <key>WJ-SRF-xuanzedian.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1079},{38,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{38,37}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>WJ-SRF-xuanzediandi.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1065},{38,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>WJ-SRF-xuanzhongan.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,218},{201,79}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,79}}</string>
                <key>sourceSize</key>
                <string>{205,79}</string>
            </dict>
            <key>WJ-SRF-yingzimowxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,781},{130,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{130,38}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-yingzimoxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,986},{130,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{130,38}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-youxidizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,583},{160,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,38}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>WJ-SRF-youxifengding.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,163},{161,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-SRF-youxiguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,421},{160,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,38}}</string>
                <key>sourceSize</key>
                <string>{164,42}</string>
            </dict>
            <key>WJ-SRF-youxihuafen.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,421},{161,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{161,38}}</string>
                <key>sourceSize</key>
                <string>{163,42}</string>
            </dict>
            <key>WJ-SRF-youxishichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,824},{160,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{160,37}}</string>
                <key>sourceSize</key>
                <string>{164,41}</string>
            </dict>
            <key>WJ-SRF-zhajinniuwxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,913},{126,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{126,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-zhajinniuxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,913},{126,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{126,42}}</string>
                <key>sourceSize</key>
                <string>{156,42}</string>
            </dict>
            <key>WJ-SRF-zidingyidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,781},{130,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,47}}</string>
                <key>sourceSize</key>
                <string>{132,49}</string>
            </dict>
            <key>WJ-SRF-zujuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{159,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,67}}</string>
                <key>sourceSize</key>
                <string>{159,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sirenfang-chuangjian.png</string>
            <key>size</key>
            <string>{850,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5023fa2ef7a63b1a2305bce30d6f9c0$</string>
            <key>textureFileName</key>
            <string>sirenfang-chuangjian.png</string>
        </dict>
    </dict>
</plist>
